<div>
    <label>Username: </label>
    <input type="text" [(ngModel)]="username">

    <label>Password:</label>
    <input type="password" [(ngModel)]="password">

    <button type="submit" (click)="onLogin()">Login</button>
</div>